nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #00274d; /* Biru Tua */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffd700; /* Kuning */
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff;
}

.buttons .download-btn {
    background-color: #ffd700;
    color: #00274d; /* Biru Tua */
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    display: inline-block;
}

.buttons .download-btn:hover {
    background-color: #e5c100;
}
